<button (click)="getUsers()" style="margin: 70px" class="pointer">get users</button>
<button (click)="addUser()" style="margin: 70px" class="pointer">add user</button>
<button (click)="getOffers()" style="margin: 70px" class="pointer">get offers</button>
<button (click)="addOffer()" style="margin: 70px" class="pointer">add offer</button>
<button (click)="editOffer()" style="margin: 70px" class="pointer">edit offer</button>
<button (click)="deleteOffer()" style="margin: 70px" class="pointer">delete offer</button>
<button (click)="getTopOffers()" style="margin: 70px" class="pointer">get top offers</button>
<button (click)="addTopOffer()" style="margin: 70px" class="pointer">add top offer</button>
<button (click)="removeTopOffer()" style="margin: 70px" class="pointer">remove top offer</button>

<p>{{results}}</p>
