<button (click)="getUsers()" style="margin: 70px">get users</button>
<button (click)="addUser()" style="margin: 70px">add user</button>
<button (click)="getOffers()" style="margin: 70px">get offers</button>
<button (click)="addOffer()" style="margin: 70px">add offer</button>
<button (click)="editOffer()" style="margin: 70px">edit offer</button>
<button (click)="deleteOffer()" style="margin: 70px">delete offer</button>
<button (click)="getTopOffers()" style="margin: 70px">get top offers</button>
<button (click)="addTopOffer()" style="margin: 70px">add top offer</button>
<button (click)="removeTopOffer()" style="margin: 70px">remove top offer</button>

<p>{{results}}</p>
