<app-navbar-user></app-navbar-user>

<div class="offers-header">
  <div class="filter-box flex_space_between">
    <!--
    <div class="filter-input">
      <p class="title-font">Kategorija</p>
      <select>
        <option value="kat1">kat1</option>
        <option value="kat2">kat2</option>
        <option value="kat3">kat3</option>
        <option value="kat4">kat4</option>
      </select>
    </div>

    <div class="filter-input">
      <p class="title-font">Polazak</p>
      <input type="text" />
    </div>

    <div class="filter-input">
      <p class="title-font">Povratak</p>
      <input type="text" />
    </div>

    <div class="filter-input">
      <p class="title-font">Max Cijena</p>
      <input type="text" />
    </div>
  --></div>

  <div class="sort-box flex_space_between">
    <p><b>Sort by:</b></p>

    <div
      class="flex_center_center cijena"
      [ngClass]="{ selected: sortCijena }"
      (click)="orderPrice(); search()"
    >
      <span class="uppercase">Price</span>
      <fa
        [ngClass]="{ rotated: !sortAsc }"
        name="angle-double-up"
        size="2x"
        class="pointer"
      ></fa>
    </div>
    <!--
    <div class="flex_center_center">
      <span>DATUMU POLASKA</span>
      <fa name="angle-double-up" size="2x" class="pointer"></fa>
    </div>
    -->
    <div class="search-offer flex_end">
      <input type="text" (input)="search($event)" />
      <fa name="search" size="lg" class="pointer"></fa>
    </div>
  </div>
</div>

<div class="result-box">
  <app-default-offer *ngFor="let o of offers" [offer]="o"></app-default-offer>
</div>

<app-pagination [max]="maxPage"
                [current]="currentPage"
                (get)="getOffers($event)"
                class="flex_center_center">
</app-pagination>
