.offers-header {

  select, input {
    text-indent: 12px;
    font-size: 16px;
    height: 35px;
    width: 80%;
    max-width: 275px;
    border: none;
    border-radius: 6px;
    background: white;
  }

  .filter-box {
    padding: 80px 5% 50px;
    background: #ffdf35;

    .filter-input {
      width: 30%;

      p {
        font-weight: bold;
        font-size: 18px;
        margin: 10px 0;
      }
    }
  }

  .sort-box {
    padding: 0 5%;
    background: #ffef9f;

    span {
      display: inline-block;
      margin-left: 40px;
    }
    .search-offer {
      flex: 1;
      text-align: right;
    }

    fa {
      margin: 0 15px;
    }
  }
}

.result-box {
  margin: 50px auto;
  max-width: 800px;
}
