<app-navbar-user></app-navbar-user>

<div class="contact flex_center_center background-image">
  <div class="container blue-shadow info flex_center_center">
    <div>
      <h3>Address</h3>
      <p>Vukovarska 58<br>
         51000 Rijeka, Croatia</p>

      <h3>Phone number</h3>
      <p>+385 98 123 456</p>

      <h3>E-mail</h3>
      <p>rwa_popaji@agencija.com</p>
    </div>
  </div>

  <div class="container blue-shadow">
    <h3 class="uppercase">Have any enquiries?<br>You can send us an e-mail!</h3>

    <form [formGroup]="emailForm">
      <p>Your e-mail address</p>
      <input type="text" formControlName="email"/>
      <p>Subject</p>
      <input type="text" formControlName="subject"/>
      <p>Your message</p>
      <textarea formControlName="message" rows="5"></textarea>

      <p *ngIf="emailForm.invalid && showErrorMessage">Please fill in all the fields</p>

      <button (click)="submit()">Send</button>
    </form>
  </div>
</div>
