<form [formGroup]="editForm" class="flex_space_between">

  <div class="edit-image">
    <img *ngIf="offer.image" src="{{ 'http://178.238.232.172:8080/' + offer?.image }}" />

    <input type="file" formControlName="image">
  </div>

  <div class="edit-text">

    <div class="star-rating">
      <input type="checkbox" formControlName="isTop" id="{{ offer.id }}" />
      <label for="{{ offer.id }}" class="pointer"></label>
    </div>

    <input type="text" formControlName="title" class="uppercase">

    <textarea formControlName="description" rows="4"></textarea>

    <div>
    <label>Plan i program</label> <input type="file" formControlName="pdf">
    </div>

    <div>
    <label>Price</label> <input type="text" formControlName="price">
    </div>

    <button (click)="collapse.emit()" style="right: 140px">Cancel</button>
    <button (click)="submit()" style="right: 25px">Save</button>
  </div>
</form>
