.container {
  min-height: 350px;
  width: calc(100% - 50px);
  padding: 15px 10px;
  background: #FCFDDF !important;
}

input, textarea {
  display: inline-block;
  background: #FDF19B;
}

.edit-image {
  margin: 0 10px;
  width: 25%;

  img, input {
    width: 100%;
  }
}

.edit-text {
  margin: 0 10px;
  width: 75%;

  textarea {
    width: 100%;
    margin: 10px 0 7px;
  }

  label {
    display: inline-block;
    width: 150px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .star-rating {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px !important;

    input {
      display: none;
    }

    &:not(:checked) {
      label {
        font-size: 26px;
        color: #FFDF35;
      }

      label:before {
        content: '\f006  ';
      }

      label:hover:before {
        content: '\f005  ';
      }
    }

    input:checked ~ label:before {
      content: '\f005  ';
    }
  }

  button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 100px;
  }
}
