.container {
  width: 350px;
  height: 200px;

  p {
    -webkit-line-clamp: 4;
  }

  button {
    border-color: #fe454b;
    color: #fe454b;
    a, a:focus, a:active {
      color: #fe454b;
    }
    a::after {
      background: white;
    }
  }
  button:hover {
    background: #fe454b;
    color: white;
    a, a:focus, a:active {
      color: white;
    }
  }

  img {
    min-width: 135px;
    max-width: 135px;
    height: auto;
  }
}
