.container {
  width: 350px;
  height: 200px;

  p {
    -webkit-line-clamp: 4;
  }

  button {
    border-color: #fe454b;
    color: #fe454b;
  }
  button:hover {
    background: #fe454b;
    color: white;
  }
}
