.gallery {
  height: 100vh;
  background: url('../../assets/images/water_photo.jpg');
  .img-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .img-item {
      margin: 20px;
      height: 300px;
      width: 300px;
      max-width: 300px;
      max-height: 300px;
      background-color: aquamarine;
    }
  }
}
