.container {
  height: 230px;
  width: calc(100% - 50px);
  padding: 15px 20px;
  background: #FEFEEF;

  h3 {
    text-transform: uppercase;
  }

  p {
    text-align: left;
    margin-bottom: 35px;
  }

  img {
    min-width: 25%;
    max-width: 25%;
    height: auto;
  }

  .offer-text {
    min-width: 75%;
    max-width: 75%;
  }

  a, a:focus, a:active {
    color: black;
  }
  a::after {
    background: black;
  }
}
