<nav>
  <div class="flex_space_between">
    <img
      src="../../../favicon.ico"
      alt="logo"
      height="30"
      width="28"
      [routerLink]="['/']"
      class="pointer"
    />
    <ul class="flex_center_center">
      <!-- <li routerLink="gallery" class="pointer">Gallery</li> -->
      <li [routerLink]="['/offer']" class="pointer" routerLinkActive="selected">
        Offer
      </li>
      <li
        [routerLink]="['/gallery']"
        class="pointer"
        routerLinkActive="selected"
      >
        Gallery
      </li>
      <li
        [routerLink]="['/contact']"
        class="pointer"
        routerLinkActive="selected"
      >
        Contact
      </li>
    </ul>
  </div>
</nav>
