<app-navbar-user></app-navbar-user>

<div class="heading background-image">
  <div class="text-container">
    <h1 class="title-font">WELCOME</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit, class nulla
      integer tristique pellentesque fringilla, nullam tellus feugiat aptent
      torquent nec. Eu velit ridiculus lacinia dignissim viverra magnis dapibus
      congue praesent, pellentesque nec tempus mi lectus ullamcorper eget
      maecenas, per natoque arcu convallis cubilia laoreet aptent odio..
    </p>
    <div class="heading-buttons flex_space_around">
      <button routerLink="offer">Discover</button>
      <button routerLink="contact">Contact Us</button>
    </div>
  </div>
</div>

<div #target class="top-offers">
  <h1 id="scroll-me" class="title-font">
    Our top offers
    <fa id="fa" name="arrow-down" class="pointer"
        (click)="target.scrollIntoView({behavior: 'smooth'})"></fa>
  </h1>
  <div class="offer-box flex_space_around">
    <app-top-offer
      *ngFor="let offer of topOffers"
      [offer]="offer"
    ></app-top-offer>
  </div>
</div>
