@import 'keyframes.scss';

@font-face {
  font-family: 'Oswald Light';
  src: url('../assets/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway Medium', sans-serif;
}

* {
  box-sizing: border-box;
}

.title-font {
  font-family: 'Oswald Light', sans-serif;
  letter-spacing: 1px;
}

.flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
}

.flex_space_around {
  display: flex;
  justify-content: space-around;
}

.flex_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.right {
  text-align: right;
}

button {
  border: black 2px solid;
  color: black;
  background: transparent;
  padding: 0;
  width: 150px;
  height: 40px;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  transform-origin: center;
}

.container {
  position: relative;
  margin: 25px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.red-shadow {
  box-shadow: 0 0 8px rgba(254, 69, 75, 0.5);
}

.yellow-shadow {
  box-shadow: 0 0 8px #f1f461;
}

.blue-shadow {
  box-shadow: 0 0 8px rgba(0, 183, 189, 0.5);
}

.offer-text {
  padding-left: 20px;

  h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
  }

  p {
    font-size: 14px;
    color: #717171;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px;
    height: 35px;
  }

  .offer-extra-info {
    position: absolute;
    bottom: 15px;
    right: 20px;

    p {
      margin: 0 !important;
      color: black;
    }
  }
}

.background-image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

select, input, textarea {
  padding-left: 12px;
  font-family: "Raleway Medium", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

select, input {
  height: 35px;
}
